#email, #dashboard{
	padding-top:$header-height;
	height:100vh;
	z-index:0;
}

#email{
	float:left;
	width:60%;
	overflow:scroll;
	padding-right: 0px;

	*{
		box-sizing:content-box;
	}
}

.spacer{
	background:#000;
	opacity:.3;

	max-height:30px;
	max-width:1000px;
	height:10px;
	@include transition_mixin(all 300ms);	
}

.block{
	cursor:pointer;
	position:relative;

	.fa-close, .fa-pencil, .controls .background{
		opacity:0;
	}

	.fa-pencil{
		right:45px;
	}	
}

.block:hover{
	box-shadow: 0 0 8px 1px #000;
	opacity:.8 !important;
	z-index:10;

	.controls{
		.background{
			position:absolute;
			left:0px;
			top:0px;
			right:0px;
			bottom:0px;
			background:#000;
			opacity: .3;
		}
	}

	.fa-close, .fa-pencil{
		opacity:1;
		font-size:14px;
	}
}

.image.block {
	display:inline-block;

	img{
		width:100%;
	}
}

#dashboard{
	width:40%;
	overflow:scroll;
	float:right;
	background:$off-white;
	overflow:scroll;

	header{
		width:100%;
		padding:20px;

		h2{
			color:$main-color;
		}
	}
	
	section{
		padding-top:20px;
		margin:0px 20px;
		position:relative;

		h3{
			background:	$main-color;
			color:$off-white;
			padding:20px;
			position:relative;
			left:-3%;
			width:103%;
		}	

		.content_picker{
			.fa{
				margin:2px;
				padding:10px;
				background:$main-color;
				color:$off-white;
				cursor:grab;
				@include transition_mixin(background 200ms);

				&.selected{
					cursor:grabbing;
					position:fixed;
					background:$auxiliary-color;

					z-index:40;
				}

				&:hover{
					background:$auxiliary-color;
				}
			}
		}

		#picker_controls{
			font-size:10pt;
			color:$auxiliary-color;

			#remove_block{
				float:right;
				cursor:pointer;

				@include transition_mixin(color 200ms);

				&:hover{
					color:$auxiliary-color;
				}				
			}
		}
	}
}


#dashboard .range-slider-wrapper{
	input{
		display:inline-block;

		&[type=range]{
			width:60%;
		}	
		
		&[type=text]{
			display:inline;
			width:20%;
		}	
	}

	input[type=text],span{
		position:relative;
		top:-8px;
	}
}

.color-selector-wrapper{
	label{
		display:block;
	}

	.colorpicker-wrapper{
		margin:0px;

		.colorpicker{
			@include transition_mixin(all 300ms);
			max-height:180px;
			padding:15px;
		}
	}

	.color-swatch{
		display:inline-block;
		background:$subtle-color-1;
		height:25px;
		width:25px;
		padding:5px;
		border:1px solid $subtle-color-2;
		cursor:pointer;
		margin-right:2.5px;
		@include radius(3px);

		&.selected{
			border:2px solid $off-black;
		}
	}

	.file-picker{
		max-height:80px;
		overflow: hidden;
		@include transition_mixin(all 300ms);
	}

	.fa{
		padding:0px 5px;
		position:relative;
		top:-5px;
		cursor:pointer;
		color:$mid-tone;

			&.selected{
				color:$main-color;
			}
	}
}

.theme_thumbnail{
	width:230px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	margin:30px;
	position:relative;
	border: 1px solid $subtle-color-3;

	@include transition_mixin(all 300ms);
	@include box_shadow(0px 0px 4px 4px rgba(50, 50, 50, 0.3));
	@include radius(8px 8px 0px 0px);
	top:-5px;

	&:hover{
		width:240px;
		margin:25px;
		top:0px;
		@include box_shadow(0px 0px 8px 8px rgba(50, 50, 50, 0.3));	
	}


	.fake_controls{
	    @include gradient($subtle-color-1,$subtle-color-2);
	    padding:3px;

	    div{
	    	height:8px;
	    	width:8px;
	    	@include radius(50%);
	    	background:#fff;
	    	display:inline-block;
	   		border: 1px solid $subtle-color-3;
 	

	    	&.close{
	    		background:#FC635F;
	    	}

	    	&.minimize{
	    		background:#FDC23E;
	    	}

	    	&.maximize{
	    		background:#3BCD51;
	    	}
	    }
	}

	img{
		width:100%;
	}
}

.text_styles{
	float:right;

	.font_styles, .alignment, .links{
		display:inline-block;
		padding-right:15px;
		border-right:1px solid $subtle-color-2;
		@include transition_mixin(all 1500ms);		
	}

	i{
		padding-left:10px;
		cursor:pointer;
		color:$mid-tone;

		&.selected{
			color:$main-color;
		}
	}
}