#email.main_preview, #dashboard{
	padding-top:$header-height;
	height:100vh;
	z-index:0;
}

#email.main_preview{
	float:left;
	width:60%;
	overflow:scroll;
	padding-right: 0px;
}

.block{
	cursor:pointer;
	position:relative;

	.fa-close, .fa-pencil{
		opacity:0;
	}

	.fa-pencil{
		right:60px;
	}	
}

.block:hover{
	@extend .droppable;

	.fa-close, .fa-pencil{
		opacity:1;
		font-size:14px;
	}
}

#dashboard{
	width:40%;
	overflow:scroll;
	float:right;
	background:#f0f0f0;
	overflow:scroll;

	header{
		width:100%;
		padding:20px;

		h2{
			color:$main-color;
		}
	}
	
	section{
		padding-top:20px;
		margin:0px 20px;
		position:relative;

		h3{
			cursor:pointer;
			width:100%;
			background:	$main-color;
			color:$off-white;
			padding:20px;
			position:relative;
			left:0%;
			@include transition_mixin(all 300ms);

			&:hover{
				background:$interacting-color;

				&+ .fa-close{
					background:$interacting-color;
				}
			}

			&.open{
				left:-2.5%;
				width:102.5%;

			}
		}

		.fa-close{
			top:36px;
		}

		.theme_thumbnails_wrapper{
			width:250px;
		}	

		.content_picker{
			.fa{
				margin:2px;
				padding:10px;
				background:$main-color;
				color:$off-white;
				cursor:grab;
				@include transition_mixin(background 200ms);

				&.selected{
					cursor:grabbing;
					position:fixed;
					background:$auxiliary-color;

					z-index:40;
				}

				&:hover{
					background:$auxiliary-color;
				}
			}
		}
	}
}


#dashboard .range-slider-wrapper{
	input{
		display:inline-block;

		&[type=range]{
			width:60%;
		}	
		
		&[type=text]{
			display:inline;
			width:20%;
		}	
	}

	input[type=text],span{
		position:relative;
		top:-8px;
	}
}

.color-selector-wrapper{
	label{
		display:block;
	}

	.colorpicker-wrapper{
		margin:0px;

		.colorpicker{
			@include transition_mixin(all 300ms);
			max-height:100%;
			max-width:100%;
			padding:15px;
		}
	}

	.color-swatch{
		display:inline-block;
		background:$subtle-color-1;
		height:25px;
		width:25px;
		padding:5px;
		border:1px solid $subtle-color-2;
		cursor:pointer;
		margin-right:2.5px;
		@include radius(3px);

		&.selected{
			border:1px solid $off-black;
		}
	}

	.fa{
		padding:0px 5px;
		position:relative;
		top:-5px;
		cursor:pointer;
		color:$mid-tone;

			&.selected{
				color:$main-color;
			}
	}
}

#theme_picker{
	width:100%;
}

.theme_thumbnails_wrapper{
	width:500px;
	height:190px;
	margin:0px auto;
	overflow:hidden;

	.theme_thumbnails{
		position:relative;
		width:8000px;
		left:-110px;

		.theme_thumbnail{
			margin:10px;
			width:100px;
			height:161.8px;
			position:relative;
			background:$main-color;
			display:inline-block;
			cursor:pointer;
			background-size:100px;

			&.selected{
				border:1px solid $auxiliary-color;	
			}

			div{
				position:absolute;
				bottom:0px;
				right:0px;
				left:0px;
				background:$off-white;
				text-align: center;
				padding:5px 0px;
				border:1px solid $subtle-color-2;
			}
		}
	}
}

.text_styles{
	float:right;

	.font_styles, .alignment, .links{
		display:inline-block;
		padding-right:15px;
		border-right:1px solid $subtle-color-2;
		@include transition_mixin(all 1500ms);		
	}

	i{
		padding-left:10px;
		cursor:pointer;
		color:$mid-tone;

		&.selected{
			color:$main-color;
		}
	}
}