.toggled_text{
	display:none;
}

.input_toggle{
	text-align:center;
	background:$main-color;
	padding:8px;
	padding-top:10px;
	position:relative;
	top:-10px;
	z-index:0;
	cursor:pointer;
	color:$off-white;

	&:first-of-type{
		@include radius(0px 0px 0px 5px);
	}

	&:last-of-type{
		@include radius(0px 0px 5px 0px);
	}

	&.selected{
		background:$interactable-color;
	}
}

.arrow{
	cursor:pointer;
	padding-top:60px;
	color:$mid-tone;

	&.fa-chevron-right{
		float:right;
			font-size:40pt;

	}

	&.fa-chevron-left{
		float:left;
			font-size:40pt;

	}
}

.fa-close, .fa-pencil{
	@include transition_mixin(all 300ms);
	@include radius(50%);
	padding:10px 12px;
	text-align:center;
	background:$interactable-color;
	cursor:pointer;
	color:$off-white;
	position:absolute;
	right:5px;
	top:5px;
	
	&:hover{
		background:$interacting-color;
	}
}

.hidden{
	display:none;
}

.hidden_y{
	max-height:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	overflow:hidden;
}

.hidden_x_y{
	max-width:0px !important;
	max-height:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	overflow:hidden;
}

.transparent{
	opacity:0 !important;
}

.rotated{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.modal.background{
	width:100%;
	height:100%;
	top:0%;
	padding:50%;
	background:$off-black;
	opacity:.85;
	position:fixed;
	z-index:20;

	@include transition_mixin(opacity 150ms);	
}

.modal.content{
	position:fixed;
	left:20%;
	right:20%;
	top:25%;
	bottom:25%;
	background:$off-white;
	z-index:30;
	overflow:scroll;
	padding:20px;	
	padding-top:70px;

	@include transition_mixin(opacity 300ms);	

	h1{
		left:20%;
		right:20%;
		top:25%;
		background:$subtle-color-1;
		padding:10px 20px;
		position:fixed;
	}

	.fa-close{
		position:fixed;
		top:27%;
		right:21%;
	}

	.links{
		position:fixed;
		top:28%;
		right:25%;	

		li{
			cursor:pointer;
			color:$interactable-color;	
			display:inline-block;
			padding-left:30px;	

			&:hover{
				color:$interacting-color;
			}			
		}
	}
}

.fa.fa-spinner{
	position:absolute;
	width:100%;
	top:40%;
	text-align:center;
	font-size:48pt;
	color:$subtle-color-2;
	cursor:default;
}

.unselectable{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.droppable{
	//-moz-box-shadow: 0 0 5px 5px #888;
	//-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 8px 1px #000;
	opacity:.8 !important;
	z-index:10;
}