.arrow{
	font-size:80pt;
	cursor:pointer;

	&.right{
		float:right;
	}

	&.left{
		float:left;
	}
}

.fa-close{
	@include transition_mixin(all 300ms);
	@include radius(50%);
	padding:10px 12px;
	text-align:center;
	background:$interactable-color;
	cursor:pointer;
	color:$off-white;
	position:absolute;
	right:20px;
	top:15px;
	
	&:hover{
		background:$interacting-color;
	}
}

.hidden{
	height:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	overflow:hidden;
}

.transparent{
	opacity:0 !important;
}

.rotated{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.modal.background{
	width:100%;
	height:100%;
	top:0%;
	padding:50%;
	background:$off-black;
	opacity:.85;
	position:fixed;
	z-index:20;

	@include transition_mixin(opacity 150ms);	
}

.modal.content{
	position:fixed;
	left:20%;
	right:20%;
	top:25%;
	bottom:25%;
	background:$off-white;
	z-index:30;
	overflow:scroll;
	padding:20px;	
	padding-top:70px;

	@include transition_mixin(opacity 300ms);	

	h1{
		left:20%;
		right:20%;
		top:25%;
		background:$subtle-color-1;
		padding:10px 20px;
		position:fixed;
	}
}

.fa.fa-spinner{
	position:absolute;
	width:100%;
	top:40%;
	text-align:center;
	font-size:48pt;
	color:$subtle-color-2;
	cursor:default;
}

