.hidden{
	height:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	overflow:hidden;
}

.transparent{
	opacity:0 !important;
}

.rotated{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.modal.background{
	width:100%;
	height:100%;
	padding:50%;
	background:$off-black;
	opacity:.85;
	position:fixed;
	z-index:20;

	@include transition_mixin(opacity 150ms);	
}

.modal.content{
	position:fixed;
	left:20%;
	right:20%;
	top:25%;
	bottom:25%;
	background:$off-white;
	z-index:30;
	overflow:scroll;
	padding:20px;	
	padding-top:70px;

	@include transition_mixin(opacity 300ms);	

	h1{
		left:20%;
		right:20%;
		top:25%;
		background:$subtle-color-1;
		padding:10px 20px;
		position:fixed;
	}
}

.loading{
	@extend .rotating;
	position:absolute;
	width:10%;
	left:45%;
	top:40%;
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite;
}

