/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Variables

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

$main-color:#333338;

$auxiliary-color:#E85520;

$interactable-color:$auxiliary-color;

$interacting-color:#F78336;

$error-color:$interactable-color;

$subtle-color-1:#ddd;

$subtle-color-2:#ccc;

$off-white:#f9f9f9;

$off-black:#222;

$mid-tone:#ACACAC;


$main-font:'Open Sans';
$second-font:'Sansita One';


$header-height:80px;

/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Imports

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

@import 'mixins';
@import 'reset';
@import 'grid';
@import 'colorpicker';
@import 'forms';
@import 'builder';
@import 'javascript';
@import 'font-awesome/font-awesome';
@import 'landing';


/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	General Rules

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

*{
	font-family:$main-font;
	box-sizing:border-box;
	line-height:140%;
}

body{ 
	width:100% !important; 
	min-width: 100%;
	-webkit-text-size-adjust:100%; 
	-ms-text-size-adjust:100%; 
	margin:0; 
	padding:0;
	background:$off-white;

	@extend .container-fluid;
}

h1,h2,h3{
	font-family:$main-font;
	font-weight:lighter;
	margin:0px;
}

h1{
	font-size:24pt;
}

h2{
	font-size:21pt;
}

h3{
	font-size:16pt;
}

p{
	padding:6pt 0px;
}

/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Main Page Sections

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

header#main{
	height:$header-height;
	background:$main-color;
	position:absolute;
	z-index:10;
	width:100%;
	color:$off-white;
	border-bottom:5px solid $auxiliary-color;

	a{
		color:$off-white;
		padding:10px;
		padding-right:40px;
		text-decoration:none;
		display:inline-block;

		&:hover{
			color:#fff;
		}

		h1{
			padding:10px;
			margin:0px;
			font-family:$second-font;
			float:right;
		}

		#blurbb_logo{
			height:60px;
		}
	}

	nav{
		float:right;
		padding:20px;

	}
}

.main_content{
	padding:20px;
	padding-top:100px;
	min-height:100vh;
	@extend .row;

	section{
		padding:20px 0px;
		margin:20px 0px;
		border-top:1px solid $subtle-color-1;
	}
}


/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Misc.

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

.interactable{
	background:$interactable-color;
	color:$off-white;	
	cursor:pointer;
	@include transition_mixin(background 300ms);

	&:hover{
		background:$interacting-color;
	}	
}

.icon_toggle{
	*{
		color:$off-white;
	}

	.icon{
		@extend .interactable;
		text-align:center;
		width:20px;
		height:20px;
		display:inline-block;
		@include radius(50%);

		&.toggled{
			content:'X';
		}
	}
	.toggled_text{
		background:$interactable-color;
		@include transition_mixin(all 300ms);
		overflow:hidden;
		padding:15px;
		@include radius(6px);

		p{
			margin-top:0px;
			margin-bottom:10px;
		}

		a, a:link, a:visited, a:active{
			color:$off-white;
			text-decoration:underline;
		}

		a:hover{
			color:#fff;
		}
	}
}