/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Variables

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Imports

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*!
 * bootstrap-grid v1.1.0
 * Copyright 2015 Santeri Hiltunen
 * Licensed under MIT (https://github.com/Hilzu/bootstrap-grid/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
body:before,
.container-fluid:after,
body:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
body:after,
.row:after {
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid, body {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
#dashboard .colorpicker {
  width: 356px;
  height: 176px;
  overflow: hidden;
  position: absolute;
  background: url(../imgs/colorpicker/colorpicker_background.png);
  font-family: Arial, Helvetica, sans-serif;
  display: none; }

#dashboard .colorpicker_color {
  width: 150px;
  height: 150px;
  left: 14px;
  top: 13px;
  position: absolute;
  background: #f00;
  overflow: hidden;
  cursor: crosshair; }

#dashboard .colorpicker_color div {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: url(../imgs/colorpicker/colorpicker_overlay.png); }

#dashboard .colorpicker_color div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background: url(../imgs/colorpicker/colorpicker_select.gif);
  margin: -5px 0 0 -5px; }

#dashboard .colorpicker_hue {
  position: absolute;
  top: 13px;
  left: 171px;
  width: 35px;
  height: 150px;
  cursor: n-resize; }

#dashboard .colorpicker_hue div {
  position: absolute;
  width: 35px;
  height: 9px;
  overflow: hidden;
  background: url(../imgs/colorpicker/colorpicker_indic.gif) left top;
  margin: -4px 0 0 0;
  left: 0px; }

#dashboard .colorpicker_new_color {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 213px;
  top: 13px;
  background: #f00; }

#dashboard .colorpicker_current_color {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 283px;
  top: 13px;
  background: #f00; }

#dashboard .colorpicker input {
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #898989;
  top: 4px;
  right: 11px;
  text-align: right;
  margin: 0;
  padding: 0;
  height: 11px; }

#dashboard .colorpicker_hex {
  position: absolute;
  width: 72px;
  height: 22px;
  background: url(../imgs/colorpicker/colorpicker_hex.png) top;
  left: 212px;
  top: 142px; }

#dashboard .colorpicker_hex input {
  right: 6px; }

#dashboard .colorpicker_field {
  height: 22px;
  width: 62px;
  background-position: top;
  position: absolute; }

#dashboard .colorpicker_field span {
  position: absolute;
  width: 12px;
  height: 22px;
  overflow: hidden;
  top: 0;
  right: 0;
  cursor: n-resize; }

#dashboard .colorpicker_rgb_r {
  background-image: url(../imgs/colorpicker/colorpicker_rgb_r.png);
  top: 52px;
  left: 212px; }

#dashboard .colorpicker_rgb_g {
  background-image: url(../imgs/colorpicker/colorpicker_rgb_g.png);
  top: 82px;
  left: 212px; }

#dashboard .colorpicker_rgb_b {
  background-image: url(../imgs/colorpicker/colorpicker_rgb_b.png);
  top: 112px;
  left: 212px; }

#dashboard .colorpicker_hsb_h {
  background-image: url(../imgs/colorpicker/colorpicker_hsb_h.png);
  top: 52px;
  left: 282px; }

#dashboard .colorpicker_hsb_s {
  background-image: url(../imgs/colorpicker/colorpicker_hsb_s.png);
  top: 82px;
  left: 282px; }

#dashboard .colorpicker_hsb_b {
  background-image: url(../imgs/colorpicker/colorpicker_hsb_b.png);
  top: 112px;
  left: 282px; }

#dashboard .colorpicker_submit {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url(../imgs/colorpicker/colorpicker_submit.png) top;
  left: 322px;
  top: 142px;
  overflow: hidden; }

#dashboard .colorpicker_focus {
  background-position: center; }

#dashboard .colorpicker_hex#dashboard .colorpicker_focus {
  background-position: bottom; }

#dashboard .colorpicker_submit#dashboard .colorpicker_focus {
  background-position: bottom; }

#dashboard .colorpicker_slider {
  background-position: bottom; }

label {
  padding-bottom: 2px;
  display: block; }

input:not([type=checkbox]):not([type=range]):not([type=submit]), textarea, select {
  padding: 5px;
  margin: 5px auto;
  font-family: sans-serif;
  font-size: 11pt;
  border: 1px solid #ccc;
  background: #f9f9f9;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  input:not([type=checkbox]):not([type=range]):not([type=submit]) option, textarea option, select option {
    padding: 5px; }
  input:not([type=checkbox]):not([type=range]):not([type=submit]):focus, textarea:focus, select:focus {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 126, 255, 0.25);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 126, 255, 0.25);
    box-shadow: 0px 0px 5px 2px rgba(0, 126, 255, 0.25); }
  input:not([type=checkbox]):not([type=range]):not([type=submit]).error, textarea.error, select.error {
    -webkit-box-shadow: 0px 0px 5px 2px #E85520;
    -moz-box-shadow: 0px 0px 5px 2px #E85520;
    box-shadow: 0px 0px 5px 2px #E85520; }

select {
  cursor: pointer; }

input[type=submit], button, .button {
  padding: 20px;
  cursor: pointer;
  font-size: 16pt;
  margin: 5px auto;
  color: #f9f9f9;
  background: #E85520;
  border: 0px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block; }

.required_asterisk {
  color: #E85520; }

#preview, #dashboard {
  padding-top: 80px;
  height: 100vh;
  z-index: 0; }

#preview {
  float: left;
  width: 60%;
  overflow: scroll; }

#dashboard {
  width: 40%;
  overflow: scroll;
  float: right;
  background: #f0f0f0;
  overflow: scroll; }
  #dashboard header {
    width: 100%;
    background: #333338;
    padding: 20px; }
    #dashboard header h2 {
      color: #f9f9f9; }
  #dashboard section {
    padding-top: 20px;
    margin: 0px 20px;
    position: relative; }
    #dashboard section h3 {
      cursor: pointer;
      width: 100%;
      background: #333338;
      color: #f9f9f9;
      padding: 20px;
      position: relative;
      left: 0%;
      -o-transition: all 300ms;
      -ms-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      #dashboard section h3:hover {
        background: #F78336; }
        #dashboard section h3:hover:after {
          background: #F78336; }
      #dashboard section h3.open {
        left: -2.5%;
        width: 102.5%; }
    #dashboard section .close {
      top: 35px; }
    #dashboard section fieldset {
      border: 0px;
      padding: 20px;
      background: #ddd;
      -o-transition: all 300ms;
      -ms-transition: all 300ms;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
      #dashboard section fieldset .subsection:not(:last-of-type) {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc; }
  #dashboard button, #dashboard input:not([type=checkbox]), #dashboard textarea, #dashboard select {
    width: 100%; }

.range-slider-wrapper input {
  display: inline-block; }
  .range-slider-wrapper input[type=range] {
    width: 60%; }
  .range-slider-wrapper input[type=text] {
    display: inline; }
.range-slider-wrapper input[type=text], .range-slider-wrapper span {
  position: relative;
  top: -8px; }

.color-selector-wrapper label {
  display: block; }
.color-selector-wrapper .colorpicker-wrapper {
  margin: 0px; }
  .color-selector-wrapper .colorpicker-wrapper .colorpicker {
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    max-height: 100%;
    max-width: 100%;
    padding: 15px; }
.color-selector-wrapper .color-swatch {
  display: inline-block;
  background: #ddd;
  height: 25px;
  width: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 2.5px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .color-selector-wrapper .color-swatch.picker {
    background: url("../imgs/colorpicker/slider.png");
    background-size: 25px 25px; }
  .color-selector-wrapper .color-swatch.selected {
    border: 1px solid #222; }

.theme_thumbnail {
  margin: 10px;
  width: 100px;
  height: 161.8px;
  position: relative;
  background: #333338;
  display: inline-block;
  cursor: pointer;
  background-size: 100px; }
  .theme_thumbnail.selected {
    border: 1px solid #E85520; }
  .theme_thumbnail div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #f9f9f9;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #ccc; }

.close {
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #E85520;
  cursor: pointer;
  color: #f9f9f9;
  position: absolute;
  right: 20px;
  top: 20px; }
  .close:hover {
    background: #F78336; }

.hidden {
  height: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  overflow: hidden; }

.transparent {
  opacity: 0 !important; }

.rotated {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.modal.background {
  width: 100%;
  height: 100%;
  padding: 50%;
  background: #222;
  opacity: .85;
  position: fixed;
  z-index: 20;
  -o-transition: opacity 150ms;
  -ms-transition: opacity 150ms;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms; }

.modal.content {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 25%;
  bottom: 25%;
  background: #f9f9f9;
  z-index: 30;
  overflow: scroll;
  padding: 20px;
  padding-top: 70px;
  -o-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms; }
  .modal.content h1 {
    left: 20%;
    right: 20%;
    top: 25%;
    background: #ddd;
    padding: 10px 20px;
    position: fixed; }

.loading {
  position: absolute;
  width: 10%;
  left: 45%;
  top: 40%; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotating, .loading {
  -webkit-animation: rotating 1.5s linear infinite;
  -moz-animation: rotating 1.5s linear infinite;
  -ms-animation: rotating 1.5s linear infinite;
  -o-animation: rotating 1.5s linear infinite;
  animation: rotating 1.5s linear infinite; }

/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	General Rules

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/
* {
  font-family: 'Roboto';
  box-sizing: border-box;
  line-height: 140%; }

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background: #222; }

h1, h2, h3 {
  font-family: 'Roboto Slab';
  font-weight: lighter;
  margin: 0px; }

h1 {
  font-size: 24pt; }

h2 {
  font-size: 21pt; }

h3 {
  font-size: 16pt; }

/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Main Page Sections

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/
header#main {
  height: 80px;
  background: #333338;
  position: absolute;
  z-index: 10;
  width: 100%;
  color: #f9f9f9;
  border-bottom: 5px solid #E85520; }
  header#main a {
    color: #f9f9f9;
    padding: 20px;
    text-decoration: none;
    display: inline-block; }
    header#main a:hover {
      color: #fff; }
    header#main a h1 {
      margin: 0px;
      font-family: 'Roboto Slab'; }
  header#main nav {
    float: right;
    padding: 10px; }

.main_content {
  padding: 20px;
  padding-top: 100px;
  background: #f9f9f9;
  min-height: 100vh; }
  .main_content section {
    padding: 20px 0px;
    margin: 20px 0px;
    border-top: 1px solid #ddd; }

/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Misc.

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/
.interactable, input[type=submit], button, .button, .icon_toggle .icon {
  background: #E85520;
  color: #f9f9f9;
  cursor: pointer;
  -o-transition: background 300ms;
  -ms-transition: background 300ms;
  -webkit-transition: background 300ms;
  transition: background 300ms; }
  .interactable:hover, input[type=submit]:hover, button:hover, .button:hover, .icon_toggle .icon:hover {
    background: #F78336; }

.icon_toggle * {
  color: #f9f9f9; }
.icon_toggle .icon {
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  .icon_toggle .icon.toggled {
    content: 'X'; }
.icon_toggle .toggled_text {
  background: #E85520;
  -o-transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
  padding: 15px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  .icon_toggle .toggled_text p {
    margin-top: 0px;
    margin-bottom: 10px; }
  .icon_toggle .toggled_text a, .icon_toggle .toggled_text a:link, .icon_toggle .toggled_text a:visited, .icon_toggle .toggled_text a:active {
    color: #f9f9f9;
    text-decoration: underline; }
  .icon_toggle .toggled_text a:hover {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
