@import '../../../universal/css/defaults';

#email{

  // General styles

  table.body{
    background:#1A2330;
    font-family:Helvetica, sans-serif;    
  }

  .email_column{
    padding:10px;
  }

  .style1{
    background:#71B8E5;
    color:#000;
  }

  .style2 a, .style1 a{
    color:inherit;
  }

  .style3{
    background:#000;
    color:#000;
  }

  .style2{
    background:#225378;
    color:#fff;
  }

  .spreadsheet table{
    margin:20px auto;
    color:#000;
  }

  .spreadsheet table th, .spreadsheet table td{
    padding:5px;
    text-align:right;
  }

  .spreadsheet table th:first-of-type, .spreadsheet table td:first-of-type{
    text-align:left;
  }

  .spreadsheet table tr{
    background:#eee;
  }

  .spreadsheet table tr:nth-of-type(even){
    background:#ddd;
  }

  .spreadsheet table tfoot td{
    font-weight:bold;
  }

  .style1 a[href^=tel], .style1 a[href^=tel]:hover{
    color:#fff;
    text-decoration: none;
  }

  .spreadsheet table .false_border{
    padding:0px;
  }

  ul{
    list-style:disc;
    padding-left:10px;
    margin-left:10px;
  }


  //Specific sections

  .image.block.n1{
    width:50px;
    padding:10px;
  }

  .text.block.n3{
    width:100%;
    text-align:center;
  }
}