@import 'defaults';

#email{

  // General

  .column{
    padding:10px;
  }

  .primary{
    background:#EB7F00;
    color:#fff;
  }

  .secondary a, .primary a{
    color:inherit;
  }

  .light{
    background:#fff;
    color:#000;
  }

  .secondary{
    background:#736A6A;
    color:#fff;
  }

  .spreadsheet table{
    margin:20px auto;
    color:#000;
  }

  .spreadsheet table th, .spreadsheet table td{
    padding:5px;
    text-align:right;
  }

  .spreadsheet table th:first-of-type, .spreadsheet table td:first-of-type{
    text-align:left;
  }

  .spreadsheet table tr{
    background:#eee;
  }

  .spreadsheet table tr:nth-of-type(even){
    background:#ddd;
  }

  .spreadsheet table tfoot td{
    font-weight:bold;
  }

  .primary a[href^=tel], .primary a[href^=tel]:hover{
    color:#fff;
    text-decoration: none;
  }

  .spreadsheet table .false_border{
    padding:0px;
  }

  ul{
    list-style:disc;
    padding-left:10px;
    margin-left:10px;
  }


  //Specific sections

  .image.block.n1{
    width:50px;
    padding:10px;
  }

  .text.block.n3{
    width:100%;
    text-align:center;
  }
}