/*/////////////////////////////////////////////////////////////////////////////
    Colors
//////////////////////////////////////////////////////////////////////////////*/

$main-color:#333338;

$auxiliary-color:#E85520;

$interactable-color:$auxiliary-color;

$interacting-color:#F78336;

$error-color:$interactable-color;

$subtle-color-1:#ddd;

$subtle-color-2:#ccc;

$off-white:#f9f9f9;

$off-black:#222;

$mid-tone:#ACACAC;

/*/////////////////////////////////////////////////////////////////////////////
    Fonts
//////////////////////////////////////////////////////////////////////////////*/

$main-font:'Roboto';

$second-font:'Roboto Slab';

/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/

$extra-small    	:   10pt;
$small          	:   13pt;
$medium         	:   16pt;
$large          	:   21pt;
$extra-large    	:   34pt;
$extra-extra-large  :   42pt;

.extra-small{
	font-size:$extra-small;
}
.small{
	font-size:$small;
}
.medium{
	font-size:$medium;
}
.large{
	font-size:$large;
}
.extra-large{
	font-size:$extra-large;
}
.extra-extra-large{
	font-size:$extra-extra-large;
}

/*/////////////////////////////////////////////////////////////////////////////
    Animation
//////////////////////////////////////////////////////////////////////////////*/

$extra-fast-duration	: 150ms;
$fast-duration	: 250ms;
$medium-duration	: 500ms;

$base-easing	: ease-in-out;
