/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Imports

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

@import 'vars';
@import 'mixins';
@import 'reset';
@import 'bootstrap-grid';
@import 'colorpicker';
@import 'typography';
@import 'forms';
@import 'javascript';
@import 'font-awesome/font-awesome';
@import 'builder';
@import 'landing';


/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	General Rules

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

*{
	font-family:$main-font; 
	box-sizing:border-box;
	line-height:140%;
}

body{ 
	width:100%; 
	overflow-x:hidden;

	-webkit-text-size-adjust:100%; 
	-ms-text-size-adjust:100%; 
	margin:0; 
	padding:0;
	background:$off-white;

	@extend .container-fluid;
}

/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Main Page Sections

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

header#main{
	height:80px;
	background:$main-color;
	position:absolute;
	z-index:10;
	width:100%;
	color:$off-white;
	border-bottom:5px solid $auxiliary-color;

	a{
		color:$off-white;
		padding:10px;
		padding-right:40px;
		text-decoration:none;
		display:inline-block;

		&:hover{
			color:#fff;
		}

		h1{
			padding:10px;
			padding-top:0px;
			margin:0px;
			font-family:$second-font;
			float:right;
		}

		#blurbb_logo{
			height:60px;
		}
	}

	nav{
		float:right;
		padding:20px;

	}
}

.main_content{
	padding:20px;
	padding-top:100px;
	min-height:100vh;
	@extend .row;

	section{
		padding:20px 0px;
		margin:20px 0px;
		border-top:1px solid $subtle-color-1;
	}
}


/***********************************************************************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Misc.

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
/***********************************************************************************************************************/

.interactable{
	background:$interactable-color;
	color:$off-white;	
	cursor:pointer;
	@include transition_mixin(background $medium-duration $base-easing);

	&:hover{
		background:$interacting-color;
	}	
}

.icon_toggle{
	*{
		color:$off-white;
	}

	.fa{
		color: $interactable-color;
		font-size: $medium;
		cursor:pointer;

		&:hover{
			color:$interacting-color;
		}
	}

	.toggled_text{
		background:$interactable-color;
		@include transition_mixin(all $medium-duration $base-easing);
		overflow:hidden;
		padding:15px;
		@include radius(6px);

		p{
			margin-top:0px;
			margin-bottom:10px;
		}

		a, a:link, a:visited, a:active{
			color:$off-white;
			text-decoration:underline;
		}

		a:hover{
			color:#fff;
		}
	}
}