#email {
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  /* HTML5 display-role reset for older browsers */ }
  #email html, #email body, #email div, #email span, #email applet, #email object, #email iframe, #email h1, #email h2, #email h3, #email h4, #email h5, #email h6, #email p, #email blockquote, #email pre, #email a, #email abbr, #email acronym, #email address, #email big, #email cite, #email code, #email del, #email dfn, #email em, #email img, #email ins, #email kbd, #email q, #email s, #email samp, #email small, #email strike, #email strong, #email sub, #email sup, #email tt, #email var, #email b, #email u, #email i, #email center, #email dl, #email dt, #email dd, #email ol, #email ul, #email li, #email fieldset, #email form, #email label, #email legend, #email table, #email caption, #email tbody, #email tfoot, #email thead, #email tr, #email th, #email td, #email article, #email aside, #email canvas, #email details, #email embed, #email figure, #email figcaption, #email footer, #email header, #email hgroup, #email menu, #email nav, #email output, #email ruby, #email section, #email summary, #email time, #email mark, #email audio, #email video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline; }
  #email article, #email aside, #email details, #email figcaption, #email figure, #email footer, #email header, #email hgroup, #email menu, #email nav, #email section {
    display: block; }
  #email body {
    line-height: 1; }
  #email ol, #email ul {
    list-style: none; }
  #email blockquote, #email q {
    quotes: none; }
  #email blockquote:before, #email blockquote:after {
    content: '';
    content: none; }
  #email q:before, #email q:after {
    content: '';
    content: none; }
  #email table {
    border-collapse: collapse;
    border-spacing: 0; }

/**********************************************
* Ink v1.0.5 - Copyright 2013 ZURB Inc        *
**********************************************/
/* Client-specific Styles & Reset */
#email {
  /* Responsive Grid */
  /* Block Grid */
  /* Alignment & Visibility Classes */
  /* Typography */
  /* Panels */
  /* Buttons */
  /* Outlook First */
  /*  Media Queries */ }
  #email #outlook a {
    padding: 0; }
  #email body {
    width: 100% !important;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0; }
  #email .ExternalClass {
    width: 100%; }
  #email .ExternalClass,
  #email .ExternalClass p,
  #email .ExternalClass span,
  #email .ExternalClass font,
  #email .ExternalClass td,
  #email .ExternalClass div {
    line-height: 100%; }
  #email #backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important; }
  #email img {
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    width: auto;
    max-width: 100%;
    float: left;
    clear: both;
    display: block; }
  #email center {
    width: 100%;
    min-width: 580px; }
  #email a {
    text-decoration: none; }
  #email a img {
    border: none; }
  #email p {
    margin: 0 0 0 10px; }
  #email table {
    border-spacing: 0;
    border-collapse: collapse; }
  #email td {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    border-collapse: collapse !important; }
  #email table, #email tr, #email td {
    padding: 0;
    vertical-align: top;
    text-align: left; }
  #email hr {
    color: #d9d9d9;
    background-color: #d9d9d9;
    height: 1px;
    border: none; }
  #email table.body {
    height: 100%;
    width: 100%; }
  #email table.container {
    width: 580px;
    margin: 0 auto;
    text-align: inherit; }
  #email table.email_row {
    padding: 0px;
    width: 100%;
    position: relative; }
  #email table.container table.email_row {
    display: block; }
  #email td.wrapper {
    padding: 10px 20px 0px 0px;
    position: relative; }
  #email table.columns,
  #email table.column {
    margin: 0 auto; }
  #email table.columns td,
  #email table.column td {
    padding: 0px 0px 10px; }
  #email table.columns td.sub-columns,
  #email table.column td.sub-columns,
  #email table.columns td.sub-column,
  #email table.column td.sub-column {
    padding-right: 10px; }
  #email td.sub-column, #email td.sub-columns {
    min-width: 0px; }
  #email table.email_row td.last,
  #email table.container td.last {
    padding-right: 0px; }
  #email table.one {
    width: 30px; }
  #email table.two {
    width: 80px; }
  #email table.three {
    width: 130px; }
  #email table.four {
    width: 180px; }
  #email table.five {
    width: 230px; }
  #email table.six {
    width: 280px; }
  #email table.seven {
    width: 330px; }
  #email table.eight {
    width: 380px; }
  #email table.nine {
    width: 430px; }
  #email table.ten {
    width: 480px; }
  #email table.eleven {
    width: 530px; }
  #email table.twelve {
    width: 580px; }
  #email table.one center {
    min-width: 30px; }
  #email table.two center {
    min-width: 80px; }
  #email table.three center {
    min-width: 130px; }
  #email table.four center {
    min-width: 180px; }
  #email table.five center {
    min-width: 230px; }
  #email table.six center {
    min-width: 280px; }
  #email table.seven center {
    min-width: 330px; }
  #email table.eight center {
    min-width: 380px; }
  #email table.nine center {
    min-width: 430px; }
  #email table.ten center {
    min-width: 480px; }
  #email table.eleven center {
    min-width: 530px; }
  #email table.twelve center {
    min-width: 580px; }
  #email table.one .panel center {
    min-width: 10px; }
  #email table.two .panel center {
    min-width: 60px; }
  #email table.three .panel center {
    min-width: 110px; }
  #email table.four .panel center {
    min-width: 160px; }
  #email table.five .panel center {
    min-width: 210px; }
  #email table.six .panel center {
    min-width: 260px; }
  #email table.seven .panel center {
    min-width: 310px; }
  #email table.eight .panel center {
    min-width: 360px; }
  #email table.nine .panel center {
    min-width: 410px; }
  #email table.ten .panel center {
    min-width: 460px; }
  #email table.eleven .panel center {
    min-width: 510px; }
  #email table.twelve .panel center {
    min-width: 560px; }
  #email .body .columns td.one,
  #email .body .column td.one {
    width: 8.333333%; }
  #email .body .columns td.two,
  #email .body .column td.two {
    width: 16.666666%; }
  #email .body .columns td.three,
  #email .body .column td.three {
    width: 25%; }
  #email .body .columns td.four,
  #email .body .column td.four {
    width: 33.333333%; }
  #email .body .columns td.five,
  #email .body .column td.five {
    width: 41.666666%; }
  #email .body .columns td.six,
  #email .body .column td.six {
    width: 50%; }
  #email .body .columns td.seven,
  #email .body .column td.seven {
    width: 58.333333%; }
  #email .body .columns td.eight,
  #email .body .column td.eight {
    width: 66.666666%; }
  #email .body .columns td.nine,
  #email .body .column td.nine {
    width: 75%; }
  #email .body .columns td.ten,
  #email .body .column td.ten {
    width: 83.333333%; }
  #email .body .columns td.eleven,
  #email .body .column td.eleven {
    width: 91.666666%; }
  #email .body .columns td.twelve,
  #email .body .column td.twelve {
    width: 100%; }
  #email td.offset-by-one {
    padding-left: 50px; }
  #email td.offset-by-two {
    padding-left: 100px; }
  #email td.offset-by-three {
    padding-left: 150px; }
  #email td.offset-by-four {
    padding-left: 200px; }
  #email td.offset-by-five {
    padding-left: 250px; }
  #email td.offset-by-six {
    padding-left: 300px; }
  #email td.offset-by-seven {
    padding-left: 350px; }
  #email td.offset-by-eight {
    padding-left: 400px; }
  #email td.offset-by-nine {
    padding-left: 450px; }
  #email td.offset-by-ten {
    padding-left: 500px; }
  #email td.offset-by-eleven {
    padding-left: 550px; }
  #email td.expander {
    visibility: hidden;
    width: 0px;
    padding: 0 !important; }
  #email table.columns .text-pad,
  #email table.column .text-pad {
    padding-left: 10px;
    padding-right: 10px; }
  #email table.columns .left-text-pad,
  #email table.columns .text-pad-left,
  #email table.column .left-text-pad,
  #email table.column .text-pad-left {
    padding-left: 10px; }
  #email table.columns .right-text-pad,
  #email table.columns .text-pad-right,
  #email table.column .right-text-pad,
  #email table.column .text-pad-right {
    padding-right: 10px; }
  #email .block-grid {
    width: 100%;
    max-width: 580px; }
  #email .block-grid td {
    display: inline-block;
    padding: 10px; }
  #email .two-up td {
    width: 270px; }
  #email .three-up td {
    width: 173px; }
  #email .four-up td {
    width: 125px; }
  #email .five-up td {
    width: 96px; }
  #email .six-up td {
    width: 76px; }
  #email .seven-up td {
    width: 62px; }
  #email .eight-up td {
    width: 52px; }
  #email table.center, #email td.center {
    text-align: center; }
  #email h1.center,
  #email h2.center,
  #email h2.center,
  #email h4.center,
  #email h5.center,
  #email h6.center {
    text-align: center; }
  #email span.center {
    display: block;
    width: 100%;
    text-align: center; }
  #email img.center {
    margin: 0 auto;
    float: none; }
  #email .show-for-small,
  #email .hide-for-desktop {
    display: none; }
  #email body, #email table.body, #email h1, #email h2, #email h2, #email h4, #email h5, #email h6, #email p, #email td {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.3; }
  #email h1, #email h2, #email h2, #email h4, #email h5, #email h6 {
    word-break: normal; }
  #email h1 {
    font-size: 40px; }
  #email h2 {
    font-size: 36px; }
  #email h2 {
    font-size: 32px; }
  #email h4 {
    font-size: 28px; }
  #email h5 {
    font-size: 24px; }
  #email h6 {
    font-size: 20px; }
  #email body, #email table.body, #email p, #email td {
    font-size: 14px;
    line-height: 19px; }
  #email p.lead, #email p.lede, #email p.leed {
    font-size: 18px;
    line-height: 21px; }
  #email p {
    margin-bottom: 10px; }
  #email small {
    font-size: 10px; }
  #email .panel {
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
    padding: 10px !important; }
  #email .sub-grid table {
    width: 100%; }
  #email .sub-grid td.sub-columns {
    padding-bottom: 0; }
  #email table.button,
  #email table.tiny-button,
  #email table.small-button,
  #email table.medium-button,
  #email table.large-button {
    width: 100%;
    overflow: hidden; }
  #email table.button td,
  #email table.tiny-button td,
  #email table.small-button td,
  #email table.medium-button td,
  #email table.large-button td {
    display: block;
    width: auto !important;
    text-align: center;
    background: #2ba6cb;
    border: 1px solid #2284a1;
    color: #ffffff;
    padding: 8px 0; }
  #email table.tiny-button td {
    padding: 5px 0 4px; }
  #email table.small-button td {
    padding: 8px 0 7px; }
  #email table.medium-button td {
    padding: 12px 0 10px; }
  #email table.large-button td {
    padding: 21px 0 18px; }
  #email table.button td a,
  #email table.tiny-button td a,
  #email table.small-button td a,
  #email table.medium-button td a,
  #email table.large-button td a {
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 16px; }
  #email table.tiny-button td a {
    font-size: 12px;
    font-weight: normal; }
  #email table.small-button td a {
    font-size: 16px; }
  #email table.medium-button td a {
    font-size: 20px; }
  #email table.large-button td a {
    font-size: 24px; }
  #email table.button:hover td,
  #email table.button:visited td,
  #email table.button:active td {
    background: #2795b6 !important; }
  #email table.button:hover td a,
  #email table.button:visited td a,
  #email table.button:active td a {
    color: #fff !important; }
  #email table.button:hover td,
  #email table.tiny-button:hover td,
  #email table.small-button:hover td,
  #email table.medium-button:hover td,
  #email table.large-button:hover td {
    background: #2795b6 !important; }
  #email table.button:hover td a,
  #email table.button:active td a,
  #email table.button td a:visited,
  #email table.tiny-button:hover td a,
  #email table.tiny-button:active td a,
  #email table.tiny-button td a:visited,
  #email table.small-button:hover td a,
  #email table.small-button:active td a,
  #email table.small-button td a:visited,
  #email table.medium-button:hover td a,
  #email table.medium-button:active td a,
  #email table.medium-button td a:visited,
  #email table.large-button:hover td a,
  #email table.large-button:active td a,
  #email table.large-button td a:visited {
    color: #ffffff !important; }
  #email table.secondary td {
    border-color: #d0d0d0; }
  #email table.secondary:hover td a,
  #email table.secondary td a:visited,
  #email table.secondary:active td a {
    color: #555 !important; }
  #email table.success td {
    background: #5da423;
    border-color: #457a1a; }
  #email table.success:hover td {
    background: #457a1a !important; }
  #email table.alert td {
    background: #c60f13;
    border-color: #970b0e; }
  #email table.alert:hover td {
    background: #970b0e !important; }
  #email table.radius td {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #email table.round td {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px; }
  #email body.outlook p {
    display: inline !important; }
  @media only screen and (max-width: 600px) {
    #email table[class="body"] img {
      width: auto !important;
      height: auto !important; }
    #email table[class="body"] center {
      min-width: 0 !important; }
    #email table[class="body"] .container {
      width: 95% !important; }
    #email table[class="body"] .email_row {
      width: 100% !important;
      display: block !important; }
    #email table[class="body"] .wrapper {
      display: block !important;
      padding-right: 0 !important; }
    #email table[class="body"] .columns,
    #email table[class="body"] .column {
      table-layout: fixed !important;
      float: none !important;
      width: 100% !important;
      padding-right: 0px !important;
      padding-left: 0px !important;
      display: block !important; }
    #email table[class="body"] .wrapper.first .columns,
    #email table[class="body"] .wrapper.first .column {
      display: table !important; }
    #email table[class="body"] table.columns td,
    #email table[class="body"] table.column td {
      width: 100% !important; }
    #email table[class="body"] .columns td.one,
    #email table[class="body"] .column td.one {
      width: 8.333333% !important; }
    #email table[class="body"] .columns td.two,
    #email table[class="body"] .column td.two {
      width: 16.666666% !important; }
    #email table[class="body"] .columns td.three,
    #email table[class="body"] .column td.three {
      width: 25% !important; }
    #email table[class="body"] .columns td.four,
    #email table[class="body"] .column td.four {
      width: 33.333333% !important; }
    #email table[class="body"] .columns td.five,
    #email table[class="body"] .column td.five {
      width: 41.666666% !important; }
    #email table[class="body"] .columns td.six,
    #email table[class="body"] .column td.six {
      width: 50% !important; }
    #email table[class="body"] .columns td.seven,
    #email table[class="body"] .column td.seven {
      width: 58.333333% !important; }
    #email table[class="body"] .columns td.eight,
    #email table[class="body"] .column td.eight {
      width: 66.666666% !important; }
    #email table[class="body"] .columns td.nine,
    #email table[class="body"] .column td.nine {
      width: 75% !important; }
    #email table[class="body"] .columns td.ten,
    #email table[class="body"] .column td.ten {
      width: 83.333333% !important; }
    #email table[class="body"] .columns td.eleven,
    #email table[class="body"] .column td.eleven {
      width: 91.666666% !important; }
    #email table[class="body"] .columns td.twelve,
    #email table[class="body"] .column td.twelve {
      width: 100% !important; }
    #email table[class="body"] td.offset-by-one,
    #email table[class="body"] td.offset-by-two,
    #email table[class="body"] td.offset-by-three,
    #email table[class="body"] td.offset-by-four,
    #email table[class="body"] td.offset-by-five,
    #email table[class="body"] td.offset-by-six,
    #email table[class="body"] td.offset-by-seven,
    #email table[class="body"] td.offset-by-eight,
    #email table[class="body"] td.offset-by-nine,
    #email table[class="body"] td.offset-by-ten,
    #email table[class="body"] td.offset-by-eleven {
      padding-left: 0 !important; }
    #email table[class="body"] table.columns td.expander {
      width: 1px !important; }
    #email table[class="body"] .right-text-pad,
    #email table[class="body"] .text-pad-right {
      padding-left: 10px !important; }
    #email table[class="body"] .left-text-pad,
    #email table[class="body"] .text-pad-left {
      padding-right: 10px !important; }
    #email table[class="body"] .hide-for-small,
    #email table[class="body"] .show-for-desktop {
      display: none !important; }
    #email table[class="body"] .show-for-small,
    #email table[class="body"] .hide-for-desktop {
      display: inherit !important; } }
  #email table.body {
    background: #000;
    width: 100%;
    min-width: 760px;
    font-family: Open Sans, sans-serif; }
  #email table.container {
    margin-top: 20px;
    margin-bottom: 20px; }
  #email * {
    line-height: 150%; }
  #email #logo {
    width: 65px; }
  #email h1, #email h2 {
    font-weight: bold; }
  #email h1 {
    font-size: 30pt; }
  #email h2 {
    font-size: 24pt;
    margin-bottom: 12px; }
  #email p {
    font-size: 13pt; }
  #email #title {
    float: right;
    padding-left: 20px; }
  #email .primary {
    background: #0C3D56;
    color: #fff; }
  #email .secondary a, #email .primary a {
    color: inherit; }
  #email .light {
    background: #fff;
    color: #000; }
  #email .secondary {
    background: #70BBA8;
    color: #000; }
  #email table.email_row {
    padding: 20px; }
  #email #invoice_details {
    margin: 20px auto; }
  #email #invoice_details th, #email #invoice_details td {
    padding: 5px;
    text-align: right; }
  #email #invoice_details th:first-of-type, #email #invoice_details td:first-of-type {
    text-align: left; }
  #email #invoice_details tr {
    background: #eee; }
  #email #invoice_details tr:nth-of-type(even) {
    background: #ddd; }
  #email #invoice_details tfoot td {
    font-weight: bold; }
  #email .footer td div {
    font-size: 14pt;
    text-align: center;
    width: 540px; }
  #email .primary a[href^=tel], #email .primary a[href^=tel]:hover {
    color: #fff;
    text-decoration: none; }
  #email #invoice_details .false_border {
    padding: 0px; }
  #email .website_url {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
